
*{
    box-sizing: border-box;
    margin: 0px 0px;
}
html {
    font-size: 18px;
    color: #f5f5f5 ;
    scroll-behavior: smooth;
}
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.2rem;
}
h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.66rem;
    text-align: center;
}
h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.22rem;
    text-align: center;
    padding: 0;
}
p {
    font-family: 'Noto Serif', serif;
    text-align: center;
    font-size: 1rem;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.header {
    background-image: url('./images/background_image.jpg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    display:flex;
    flex-direction: column;
}
    .header nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        position: relative;
        right: 4.4rem;
        padding-top: 1rem;
    }
    .header li {
        display: inline-block;
        padding: 0.5rem;   
    }
    .header-container h2 {
        text-align: left;
    }
.header-container,
.contact-container {
    height: 30rem;
    width: 100%;
    padding-left: 4.4rem;
    padding-right: 4.4rem;
    display: flex;
    align-content: center;
    flex-direction: column;
}
.header-desktop, 
.header-mobile{
    margin-top: auto;
}
.header-mobile{
    display: none;
}

    .header p {
        margin-top: auto;
    }
@media only screen and (max-width: 565px) {
    h1 {
        font-size: 2rem;
    }
    .header nav {
        right: 0.5rem;
    }
    .header-desktop {
        display: none;
    }
    .header-container,
    .contact-container {
        height: 20rem;
    }
    .header-mobile {
        display: block;
        margin-top: 25%;
        height: 15%;
    }
    .header-container p {
        display: none;
    }
}

.projects h2,
.about h2 {
    text-transform: uppercase;
}
.about, 
.projects  {
    height: 100%;
    background-color: #0D1A21;
    padding-top: 2rem;
    flex-wrap: wrap;
}
.about {
    padding: 2em;
}
    .about-me {
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 4rem;
    }
    .introduction {
        margin-top: 1.5rem;
        width: 50%;
        display: flex;
        flex: 2 2 auto;
        flex-direction: column;
        justify-content: center;
        padding: 0 4rem;
    }
    .introduction p {
        margin-top: 1.5rem;
    }
.introduction-mobile {
    display: none;
}    
.skills-mobile {
    display: none;
}       
.skills {
    margin-top: 1.5rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
    .skills-container {
        text-align: center;
    }
    .skills img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        opacity: 0.8;    
    }
    .skills ul, .skills h3{
        margin-top: 1.5rem;
        padding-left: 0;
    }
    .image-container {
        padding-top: 1.5rem;
        align-self: center;
    }
@media only screen and (max-width: 1000px) {
  .introduction {
    padding: 0 1rem;
    margin-top: 0.5rem
  }
  .skills-container {
    margin: 0;
  }  
  .skills ul,
  .skills h3 {
    margin-top: 0.5rem;
  }
  .image-container {
    padding-top: 0.5rem;
  }

}
@media only screen and (max-width: 770px) {
    .skills {
        display: none;
    }
    .skills-mobile {
        display: block;
    }
}
@media only screen and (max-width: 670px){
    .introduction {
        padding: 0 0.5rem;
    }
    .about-me {
        padding-bottom: 1rem;
    }
    .introduction p {
        margin-top: 0.5rem;
    }
    .introduction-desktop {
        display: none;
    }
    .introduction-mobile {
        display: block;
    }
}

.projects {
    position: relative;
    overflow: hidden;
    padding-top: 2rem;
}
    .projects p {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
.projects-container {
    padding: 0 5.5rem;
    display: flex;
    width: 44rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 0px auto;
}
    .projects-container::-webkit-scrollbar {
        display: none;
    }
.projects-card {
    flex: 0 0 auto;
    width: 33rem;
    height: 25rem;
    margin-right: 11rem;
    justify-content: center;
}
    .project-image {
        position: relative;
        width: 100%;
        height: 19rem;
        overflow: hidden;
    }
.project-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-info {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
}
.project-buttons {
    display: flex;
}
.pre-btn, 
.nxt-btn {
    border: none;
    width: 5,5rem;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D1A21;
    z-index: 9;

}
.nxt-btn {
    right: 0;
}
.pre-btn img, 
.nxt-btn img {
    height: 1.7rem;
    width: 1.7rem;
    opacity: 0.4;
}
.pre-btn:hover img, 
.nxt-btn:hover img{
    opacity: 1;
    border: none;
}
.project-buttons {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.project-button {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: white;
    padding: 5px 10px;
    background-color:#0D1A21;
    border: 2px solid white;
    border-radius: 5px;
    align-self: center;  
}
button.icon  {
    border: 2px solid white;
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
    padding: 0;
}

.project-button:hover,
.icon:hover {
    border: 3px solid white;
}
.icon img{
    width: 100%;
    border-radius: 5px;
}
.project-button:active,
.icon:active {
    color:#0D1A21;
    background-color: white;
}
.projects-container p{
    font-size: 16px;
}
@media only screen and (max-width: 830px) {
    .projects-container {
        padding: 0 0;
        width: 30rem;
    }
    .projects-card {
        width: 100%;
        margin-right: 0;
    }
    .project-thumb {
        width: 100%;
    }
    .project-image {
        width: 100%;
    }
}
@media only screen and (max-width: 670px) {
    .projects-container {
        width: 25rem;
        margin: 0 4rem;
    }

}
@media only screen and (max-width: 600px) {
    section.projects p {
        display: none;
    }
    .projects-container {
        width: 100%;
        margin: 0 0;
    }
    .project-image {
        width: 100%;
    
    }
    .project-info {
        padding-top: 2rem;
    }
}
@media only screen and (max-width: 500px) {
    .project-info {
       padding-top: 1rem;
       height: 5%;
    }
    .project-button {
        font-size: 16px;
    }
    .project-thumb {
        width: 100%;

    }
}
@media only screen and (max-width: 380px) {
    .project-info {
        padding-top: 0.5rem;
        height: 2%;
     }
     .project.buttons {
        width: 40%;
     }
     .project-button {
        padding: 2px 2px;
     }
    .icon img,
    button.icon {
        display: none;
     }
}

.contact-main h1 {
    text-align: center;
    padding: 3rem;
}
.contact {
    display: flex;
    justify-content: center;
    padding: 4rem;
}
.contact-mobile {
    display:none;
}
.contact-container-a {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: whitesmoke;
    color: black;
    padding: 2rem 1.6rem;
}
.contact-container-b {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: black;
    color: whitesmoke;
    padding: 2rem 1.6rem;
}
.contact-container-a p, 
.contact-container-b p,
.contact-container-a h2, 
.contact-container-b h2 {
    text-align: left;
}
@media only screen and (max-width: 1240px){
    .contact {
        flex-direction: column;
        padding-top: 4rem;
        align-items: center;
    }
    .contact-container-a, 
    .contact-container-b {
        flex-direction: column;
    }
}

@media only screen and (max-width: 970px) {
    .contact {
        flex-direction: column;
        padding-top: 1rem;
        align-items: center;
    }
}
@media only screen and (max-width: 900px) {
    .contact-container-a, 
    .contact-container-b {
        padding: 0.5rem;
    }

    .contact-container-a p, 
    .contact-container-b p{
    font-size: 16px;
}
}
@media only screen and (max-width: 750px) {
    .contact-container-a, 
    .contact-container-b {
        width: 70%;
    }
}
@media only screen and (max-width: 565px) {
    .contact-main h1 {
        padding: 1rem;
    }
    
    section.contact {
        padding: 1rem;
        height: 500px;
    }
    .contact-container-a, 
    .contact-container-b {
        width: 80%;
        height: 30%;
        justify-content: flex-end;
    }
    .contact-container-a p, 
    .contact-container-b p {
        margin-top: 0;
    }    
}
@media only screen and (max-width: 300px) {
    .contact-container-a, 
    .contact-container-b {
       width:100%;
       height: 20%;
  
    }
    
    .contact-container-a h2, 
    .contact-container-b h2{
        display: none;
  
    }
    
}

footer {
 background-color: #0D1A21;
 color: whitesmoke;
 padding: 2rem;
}
footer p {
    font-size: 16px;
}
