
*{
    box-sizing: border-box;
    margin: 0px 0px;
    padding: 0px;
}
html {
    font-size: 18px;
    color: whitesmoke ;
    background-image: url('./images/background_image.jpg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    text-align: center;
}
h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    text-align: left;
}
h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    text-align: center;
}
p {
    font-family: 'Noto Serif', serif;
    text-align: center;
}
ul {
    list-style: none;
}
li {
    text-decoration: none;
    color: whitesmoke;
} 
.contact-page {
    margin: 0px 0px;
}
main {
    margin: 0 4.4rem 0 4.4rem;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    right: 4.4rem;
    padding-top: 1.4rem;
    height: 4.4rem;
}
header li {
    display: inline-block;
    padding: 10px;   
}
header a{
    text-decoration: none;
    color: whitesmoke;
}
@media only screen and (max-width 970px) {
    header nav {
        justify-content: center;
        position: static;
        right: 0;
    }
}
main h1 {
    padding-bottom: 1.6rem;
}
.contact {
    display: flex;
    justify-content: center;
    padding-top: 8rem;
}
.contact-container-a {
    display: flex;
    flex-direction: column;
    width: 22rem;
    background-color: whitesmoke;
    color: black;
    padding: 2rem 1.6rem;
}
.contact-container-b {
    display: flex;
    flex-direction: column;
    width: 22rem;
    background-color: black;
    color: whitesmoke;
    padding: 2rem 1.6rem;
}
.contact-container-a p, .contact-container-b p{
    text-align: left;
}
@media only screen and (max-width: 1240px){
    .contact {
        flex-direction: column;
        padding-top: 4rem;
        align-items: center;
    }
    .contact-container-a, .contact-container-b {
        display: block;
    }
}

@media only screen and (max-width: 970px) {
    .contact {
        flex-direction: column;
        padding-top: 1rem;
        align-items: center;
    }
    .contact-container-a, .contact-container-b {
        display: block;
    }
}
@media only screen and (max-width: 430px) {
    main h1 {
        padding-top: 2rem;
        margin: 0px;
        text-align: center;
    }
    .contact {
        padding-top: 5rem;
    }
    .contact-container-a, .contact-container-b {
        display: block;
        width: 12rem;
        padding: 1rem 0.5rem;
    } 
    .contact-container-a h2, .contact-container-b h2{
        font-size: 18px;
    }
    .contact-container-a p, .contact-container-b p {
        font-size: 14px;
    }
}
footer {
    padding-top: 5rem;
}
footer p{
    text-align: center;
    font-size: 16px;
}
@media only screen and (max-width: 430px){
    .footer {
        padding-top: 4rem;
    }
}